fastapi
uvicorn
langchain
langchain-openai
langchain-google-genai
langgraph
openai
pydantic
boto3
pytest
testcontainers[localstack]
pytest-mock
prometheus-client
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
jaraco.context==6.1.0
wheel==0.46.2